*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

:root{
    --light-gray:#f8f9fa;
    --middle-gray:#e9ecef;
    --dark-gray:#495057;
    --light-blue:#d0ebff;
}

body{
    font-family: "Roboto", sans-serif;
    background: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2)),url('../images/pexels-veeterzy-39811.jpg');
    background-size: cover;
    background-position: center;
}

.header .flex{
    display: flex;
    justify-content: center ;
    align-items: center;
    gap: 20px;
}

i{
    cursor: pointer;
}
/*   */
.header{
    clear:both;
    padding: 10px;
    display: flex; 
    justify-content: space-between;
    align-items: center;
}
.middle-area {
    margin-right: 12%;
}
.left-area{
    position: relative;
    top: 5px;

}
.left-area img:hover {
    cursor: pointer;
}
.left-area .mail-text{
    font-size: 20px;
    letter-spacing: 0.7px;
    color:var(--light-gray);
}
.left-area .mail-text:hover {
    cursor: pointer;
}
.search{
    position: absolute;
    left: 15%;
    top: 23px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap:5px;
    padding: 15px;
    width: 700px;
    border-radius: 30px;
    background-color:var(--middle-gray);   
}
.search i{
    height:24px;
    width: 24px;
    padding: 8px;
    border-radius: 50%;
    position: relative;
    bottom: 4px;
    right: 20px;
    color: rgb(78, 77, 77);
}
.search input{
    border: 0px;
    outline: none;
    background-color:var(--middle-gray);
    padding: 2px;
    font-size: 18px;
    width: 90%;
}
.right-area{
    padding: 10px;
    gap:10px;
  
}
.right-area i{
    width: 22px;
    height: 22px;
    color: var(--light-gray);
    padding: 9px;
    border-radius: 50%;
    font-size: 20px;
    position: relative;
    bottom: 5px;
    right: 80px;
    
}
.right-area .profile{
    width:40px;
    height: 20px;
}

.right-area span i{
    outline-color: none;
    color: #fff;
}
.menu{
  
    display: flex;
    flex-direction: column;
    border-radius: 50%;
    padding: 8px;
}
.menu .icon{
    height: 2px;
    width: 20px;
    background-color:#cdd2d6;
    margin: 2px 0px;
}





/* Nav Containr styling */
.nav-container {
    
clear: both;
    height: 50%;
    display: flex;
    flex-direction: column;
    margin-left: -20px;
    padding: 12px;
    gap:40px;
    position: fixed;
    top: 20px;
    width: 25vh;
}
.nav-top span{
    width:75%;
    background-color: var(--light-blue);
    padding: 20px 32px;
    border-radius:15px;
    font-size: 14px;
    font-weight: 500;
    cursor: pointer;
}
.nav-top span i{
    font-size:24px;
}
.nav_middle ul li {
    font-size: 14px;
    list-style: none;
    margin-left: 4px;
    margin-bottom: 4px;
    padding: 10px;
}
.nav_middle ul li a {
    display: flex;
    gap: 12px;
    letter-spacing: 1px;
        text-decoration: none;
        color: var(--light-blue);
        width: 200px;
    /* padding: 5px; */
}
.nav_middle ul .inbox {
    display: flex;
    gap: 12px;
    letter-spacing: 1px;
        text-decoration: none;
        color: var(--light-blue);
        justify-content: space-around;
        align-items: center;
        width: 0%;
        position: relative;
        top: 40px;
}
/* hover Navigation */
.hover-nav{
    background-color: transparent;
    cursor: pointer;
    width: 180px; 
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

.hover-nav:hover{
    background-color: #495057;
    width: 180px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    transition: 0.4s;
}
.hover-nav-1{
    background-color: transparent;
    cursor: pointer;
    width: 180px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

.hover-nav-1:hover{
    background-color: #495057;
    width: 180px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    transition: 0.4s;
}
.hover-nav-1 li{
    font-size: 14px;
    list-style: none;
    margin-left: 4px;
    margin-bottom: 4px;
    /* padding: 2px;
*/
    } 
.hover-nav-1 li a {
    display: flex;
    gap: 12px;
    letter-spacing: 1px;
        text-decoration: none;
        color: var(--light-blue) !important;
        width: 200px;
    /* padding: 2px; */
    position: relative;
    top: -1px;
}
.hover-nav-2{
    background-color: transparent;
    cursor: pointer;
    width: 180px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

.hover-nav-2:hover{
    background-color: #495057;
    width: 180px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    transition: 0.4s;
}
.hover-nav-2 li{
    font-size: 14px;
    list-style: none;
    margin-left: 4px;
    margin-bottom: 4px;
}

.hover-nav-2 li a {
    display: flex;
    gap: 12px;
    letter-spacing: 1px;
        text-decoration: none;
        color: var(--light-blue) !important;
        width: 200px;
    position: relative;
    top: -1px;
}
.hover-nav-3{
    background-color: transparent;
    cursor: pointer;
    width: 180px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

.hover-nav-3:hover{
    background-color: #495057;
    width: 180px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    transition: 0.4s;
}
.hover-nav-3 li{
    font-size: 14px;
    list-style: none;
    margin-left: 4px;
    margin-bottom: 4px;
}

.hover-nav-3 li a {
    display: flex;
    gap: 12px;
    letter-spacing: 1px;
    text-decoration: none;
        color: var(--light-blue) !important;
        width: 200px;
    position: relative;
    top: -1px;
}
.hover-nav-4{
    background-color: transparent;
    cursor: pointer;
    width: 180px;
  
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

.hover-nav-4:hover{
    background-color: #495057;
    width: 180px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    transition: 0.4s;
}
.hover-nav-4 .draft{
    font-size: 14px;
    list-style: none;
    margin-left: -5px;
    margin-bottom: 4px;
}
.hover-nav-5{
    background-color: transparent;
    cursor: pointer;
    width: 180px;
  
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

.hover-nav-5:hover{
    background-color: #495057;
    width: 180px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    transition: 0.4s;
}
.hover-nav-5 li{
    font-size: 14px;
    list-style: none;
    margin-left: 4px;
    margin-bottom: 4px;
}
.hover-nav-5 li a {
    display: flex;
    gap: 12px;
    letter-spacing: 1px;
        text-decoration: none;
        color: var(--light-blue) !important;
        width: 200px;
    position: relative;
    top: -1px;
}

.nav_middle ul .inbox .inb{
    color: var(--light-blue);
}

.nav_middle ul .inbox span{
    color: rgb(243, 243, 243);
    position: relative;
    left: 40px;
    font-size:15px;
    font-weight: bolder;
    
}
.nav_middle ul .draft {
    display: flex;
    gap: 12px;
    letter-spacing: 1px;
        text-decoration: none;
        color: var(--light-blue);
        justify-content: space-around;
        align-items: center;
        width: 0%;
        position: relative;
        bottom: 1px;
        right: 12px;
        
        
}
.nav_middle ul .draft .inb{
    color: var(--light-blue);
}
.nav_middle ul .draft  span{
    color: rgb(243, 243, 243);
    position: relative;
    left: 40px;
    top: 1px;
    font-size:15px;
    font-weight: bolder;
    
}
.nav_middle ul li a i,.nav-bottom i{
width:18px;
height: 18px;
font-size: 20px;
}

/* .nav_middle ul li:first-child span {
    display: flex;
    justify-content: space-between;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    background-color: #e7f5ff ;
    width: 10%;
} */
/* .nav_middle ul li:first-child span{
    margin-right: 8px;
} */
/* .nav_middle ul li:first-child a, .nav_middle ul span{
    font-weight: 600;
    color: #c20a0a;
    position: relative;
    bottom: 40px;
} */
/* .nav_middle ul li:hover {
    background-color: #e7f5ff;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
} */
.nav-bottom {
    display:bottom;
    align-items:center;
    justify-content: space-between;
    padding-left: 10px;
}
.nav-bottom i{
    transition: all 0.3s;
    width: 20px;
    height: 20px;
    color: var(--dark-gray);
    padding: 8px;
    border-radius: 50%;
}


/* Main content styling */
.main_content{
    position: absolute;
top: 120px;
right: 3%;
width: 85%;
border-top-left-radius: 10px;
border-top-right-radius: 10px;
background-color: var(--middle-gray);
overflow: hidden;


}
.content_icon, .star {
    transition: all 0.3s;
    width: 16px;
    height: 16px;
    color: var(--dark-gray);
    padding: 8px;
    border-radius: 50%;
}
.chev{
    color: red;
}
.main_content .top{
    font-size: 14px;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    background-color: #fff;
    color: var(--dark-gray);
}
.messages:hover{
    cursor: pointer;
    box-shadow: 0px 1px 4px 0.2px rgba(0,0,0,0.2);
}
.check{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4px;
    position: relative;
}
.chech i{
    height: 24px;
    cursor: pointer;
}
.check span{
    position: absolute;
    left: 6px;
    top: 4px;
    display: none;
}
.sort_numbers{
    transition:all 0.3s;
    padding: 8px;
    border-radius:6px;
}
.main_content .top .right,
.main_content .top .left,
.main_content .messages .messages_left{
    display: left;
    justify-content: center;
    align-items: center;
    gap: 12px;
}
.messages-area{
    height: 80vh;
    overflow: auto;
}
.messages{
    height: 45px;
    font-size: 16px;
    display: flex;
    justify-content:space-between;
    align-items: center;
    padding: 10px;
    border-bottom: 0.8px solid #ced4da;
    color: var(--dark-gray);
}
.check_2 span{
    left: 5px;
}
.messages_left i.hover{
    color:#000;
}